@import 'reset.css';
* {
    text-decoration: none;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    text-align: justify;
    font: white;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ccc;
}

#home {
    background-color: darkgreen;
    min-height: 75vh;
    margin: 0 1.5rem;
}

#tecnologias {
    background-color: cyan;
    min-height: 70vh;
}

#contacto {
    background-color: red;
    min-height: 72vh;
}


/******************HEADER***********************/

.header {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 72px;
    overflow: hidden;
    background-color: #ccc;
    transition: height 0.5s ease;
}

.header.header--desplegado {
    height: 120px;
}

.header__title {
    margin: 0.6rem;
    margin-left: 1.5rem;
}

.header__subtitle {
    margin-left: 3rem;
}


/*******************    ICONOS  **************/

.menu__icons {
    position: absolute;
    flex-wrap: wrap;
    margin: 0.5rem;
    right: 0;
    top: 0;
}

.menu__icons>img {
    height: 25px;
    width: 25px;
}


/********************   MENU    ***********************/

.header__menu {
    justify-content: space-evenly;
    margin: 0.5rem;
    opacity: 0;
    text-align: center;
}

.header__menu.header__menu--opacity {
    opacity: 1;
}

.header__menu a {
    color: black;
    margin: 1rem;
    border-radius: 2px;
    transition: font-size 0.5s ease, background-color 0.5s ease;
}

.header__menu a:hover {
    font-size: 1.2rem;
    background-color: rgba(247, 54, 6, 0.795);
    color: white;
}

aside {
    max-width: 100%;
    background-color: white;
    opacity: 0.8;
}


/******************HOME***********************/


/*.home__perfil {
    margin: 0 1.5rem;
}

.home__perfil h2 {
    font-size: 2rem;
}*/

#home h2 {
    font-size: 2rem;
}

.home__figure {
    margin: 10px auto;
    position: relative;
    border-radius: 50%;
    border: 1px;
    overflow: hidden;
    max-width: 220px;
}

.home__figure figcaption {
    position: absolute;
    text-align: center;
    opacity: 0;
    width: 300px;
    height: 80px;
    left: calc(50% - 150px);
    top: 80%;
    font-size: 0.5rem;
    transition: opacity 1s ease, font-size 1.5s ease;
}

.home__figure img {
    overflow: hidden;
    width: 100%;
}

.home__figure:hover figcaption {
    opacity: 1;
    font-size: 1rem;
}


/******************TECNOLOGIAS***********************/

#tecnologias h2 {
    font-size: 2rem;
    margin: 1.5rem;
}

.tecnologias__img {
    justify-content: space-around;
}


/******************CONTACTO***********************/

.contacto__form {
    max-width: calc(50% - 10rem);
    margin: 0 auto;
}

.contacto__form-campos {
    margin: 2rem;
    display: grid;
    grid-template-columns: 22% repeat(2, 1fr);
    gap: 0.5rem;
    margin: 0 auto;
}

.contacto__enviar {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
}

.contacto__form h2 {
    font-size: 2rem;
}


/*******************MEDIAS********************/

@media (min-width: 900px) {
    .containerGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    #home {
        grid-column: 1 / 3;
    }
    .header__title {
        font-size: 2rem;
    }
    .header__subtitle,
    .header.header--desplegado a {
        font-size: 1.2rem;
    }
    .header {
        height: 113px;
    }
    .header.header--desplegado {
        height: 160px;
    }
    .header__menu a:hover {
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .containerGrid {
        grid-template-columns: repeat(3, 1fr);
    }
    #home {
        grid-column: 1 / 3;
    }
    #tecnologias {
        grid-column: 3/4;
        grid-row: 1/2;
        padding: 4rem;
    }
    .tecnologias__img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    #contacto {
        grid-column: 1/4;
    }
    .header__title {
        font-size: 2.5rem;
    }
    .header__subtitle,
    .header.header--desplegado a {
        font-size: 1.5rem;
    }
    .header {
        height: 136px;
    }
    .header.header--desplegado {
        height: 185px;
    }
    .header__menu a:hover {
        font-size: 2rem;
    }
}

@media (min-width:1480px) {
    #home {
        grid-column: 1/3;
    }
    .home__figure {
        max-width: 500px;
    }
    #tecnologias {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .tecnologias__img {
        grid-template-columns: repeat(4, 1fr);
    }
    .tecnologias__img img {
        width: 200px;
        height: 200px;
    }
    #contacto {
        grid-column: 3/4;
        grid-row: 1/2;
        padding: 4rem;
    }
    .contacto__form {
        position: fixed;
        margin-right: 5rem;
    }
    .header {
        height: 169px;
    }
    .header.header--desplegado {
        height: 235px;
    }
    .header__title {
        font-size: 3rem;
    }
    .header__subtitle,
    .header.header--desplegado a {
        font-size: 2rem;
    }
    .header__menu a:hover {
        font-size: 2.2rem;
    }
    .home__biografia_text,
    label {
        font-size: 1.2rem;
    }
    .menu__icons>img {
        height: 30px;
        width: 30px;
    }
}