@import 'reset.css';
@import url('https://fonts.googleapis.com/css?family=Courgette|Lora&display=swap');
* {
    text-decoration: none;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    text-align: justify;
    font: white;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Imagenes/container.jpg);
    background-size: cover;
}

#home {
    min-height: 75vh;
    margin: 1rem;
    padding: 30px;
}

#tecnologias {
    min-height: 70vh;
    margin: 1rem;
    padding: 1rem;
}

#contacto {
    min-height: 67vh;
    margin: 1rem;
}

#home,
#tecnologias,
#contacto,
.header {
    background-color: rgba(204, 204, 204, 0.171);
    color: white;
    border-radius: 20px;
}

#home,
#tecnologias,
#contacto {
    box-shadow: 4px 4px rgba(204, 204, 204, 0.493);
}


/******************HEADER***********************/

.header {
    font-family: 'Lora', serif;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 99px;
    overflow: hidden;
    background-color: rgba(204, 204, 204, 0.171);
    transition: height 0.5s ease;
    margin: 1rem;
    color: white;
}

.header.header--desplegado {
    height: 135px;
}

.header__title {
    margin: 0.6rem;
    margin-left: 1.5rem;
    transition: font-size 1s ease;
}

.header__subtitle {
    margin-left: 3rem;
    transition: font-size 1s ease;
}


/*******************    ICONOS  **************/

.menu__icons {
    position: absolute;
    flex-wrap: wrap;
    margin: 0.5rem;
    right: 0;
    top: 0;
}

.menu__icons>img {
    height: 25px;
    width: 45px;
    transition: width 1s ease, height 1s ease;
}


/********************   MENU    ***********************/

.header__menu {
    justify-content: space-evenly;
    margin: 0.5rem;
    opacity: 0;
    text-align: center;
}

.header__menu.header__menu--opacity {
    opacity: 1;
}

.header__menu a {
    color: black;
    margin: 1rem;
    border-radius: 2px;
    transition: font-size 0.5s ease, background-color 0.5s ease;
}

.header__menu a:hover {
    font-size: 1.2rem;
    background-color: rgba(247, 54, 6, 0.795);
    color: white;
}

aside {
    max-width: 100%;
    background-color: white;
    opacity: 0.8;
}

.menu__boton {
    cursor: pointer;
}


/****************   CONTAINER *****************/

#home h2,
#tecnologias h2,
.contacto__form h2 {
    font-family: 'Lora', serif;
    background-color: rgba(12, 11, 11, 0.514);
    border-radius: 10px;
    text-align: center;
}


/******************HOME***********************/


/*.home__perfil {
    margin: 0 1.5rem;
}

.home__perfil h2 {
    font-size: 2rem;
}*/

#home h2 {
    font-size: 2rem;
    transition: font-size 1s ease;
}

.home__figure {
    margin: 10px auto;
    position: relative;
    border-radius: 50%;
    border: 1px;
    overflow: hidden;
    max-width: 350px;
    transition: max-width 1s ease;
}

.home__figure figcaption {
    position: absolute;
    opacity: 0;
    width: 300px;
    height: 80px;
    left: calc(50% - 150px);
    top: 32%;
    left: 10%;
    font-size: 0.5rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.home__figure figcaption {
    opacity: 0;
    transition: opacity 1s ease;
}

.home__figure img {
    overflow: hidden;
    width: 100%;
    filter: sepia(85%);
    transition: filter 0.5s ease;
}

.home__figure figcaption a {
    width: 45px;
    height: 40px;
}

.home__figure:hover figcaption {
    opacity: 1;
}

.home__figure:hover img {
    filter: none;
}

.home__biografia_text {
    font-family: 'Courgette', cursive;
    transition: font-size 1s ease;
}

.home__biografia_text,
.home__biografia_text a {
    font-size: 1.5rem;
}


/******************TECNOLOGIAS***********************/

#tecnologias h2 {
    font-size: 2rem;
    margin: 1.5rem;
    transition: font-size 1s ease;
}

.tecnologias__img {
    justify-content: space-around;
    margin-top: 130px;
}

.tecnologias__img img {
    height: 120px;
    width: 120px;
    transition: width 1s ease, height 1s ease;
}


/******************CONTACTO***********************/

.contacto__form {
    max-width: calc(50% - 10rem);
    margin: 0 auto;
}

.contacto__form-campos {
    font-family: 'Courgette', cursive;
    display: grid;
    grid-template-columns: 22% repeat(2, 1fr);
    gap: 11px;
}

.contacto__enviar {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
}

.contacto__form h2 {
    font-size: 2rem;
    transition: font-size 1s ease;
}

label {
    margin: 0 auto;
    font-size: 1.2rem;
}


/*******************MEDIAS********************/

@media (min-width: 900px) {
    .containerGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    #home {
        grid-column: 1 / 3;
        margin: 1rem;
    }
    #home h2,
    #tecnologias h2,
    .contacto__form h2,
    .header__title {
        font-size: 2rem;
    }
    .header.header--desplegado a {
        font-size: 1.2rem;
    }
    .header {
        height: 100px;
    }
    .header.header--desplegado {
        height: 140px;
    }
    .header__menu a:hover {
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .containerGrid {
        grid-template-columns: repeat(3, 1fr);
    }
    #home {
        grid-column: 1 / 3;
    }
    #tecnologias {
        grid-column: 3/4;
        grid-row: 1/2;
        padding: 4rem;
    }
    .tecnologias__img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    #contacto {
        grid-column: 1/4;
    }
    .header__title {
        font-size: 2.5rem;
    }
    .header__subtitle,
    .header.header--desplegado a {
        font-size: 1.5rem;
    }
    .header {
        height: 130px;
    }
    .header.header--desplegado {
        height: 185px;
    }
    .header__menu a:hover {
        font-size: 2rem;
    }
}

@media (min-width:1480px) {
    #home {
        grid-column: 1/3;
    }
    .home__figure {
        max-width: 500px;
    }
    #tecnologias {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .tecnologias__img {
        grid-template-columns: repeat(4, 1fr);
    }
    .tecnologias__img img {
        width: 200px;
        height: 200px;
    }
    #contacto {
        grid-column: 3/4;
        grid-row: 1/2;
        position: fixed;
        left: 69%;
        max-width: 30rem;
    }
    .header {
        height: 160px;
    }
    .header.header--desplegado {
        height: 220px;
    }
    .header__title {
        font-size: 3rem;
    }
    .header__subtitle,
    .header.header--desplegado a {
        font-size: 2rem;
    }
    .header__menu a:hover {
        font-size: 2.2rem;
    }
    .menu__icons {
        height: 40px;
        width: 40px;
    }
    .menu__icons>img {
        height: 36px;
        width: 32px;
    }
    .home__figure figcaption a {
        width: 50px;
        height: 50px;
    }
    #home h2,
    #tecnologias h2,
    .contacto__form h2 {
        font-size: 3rem;
    }
}